@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url("image/wallpaperflare.com_wallpaper (3).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

.wrapper{
    width: 400px;
    height: 460px;
    position: relative;
}

.login-box{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.12);
    border: 2px solid rgba(255,255,255,0.45);
    backdrop-filter: blur(20px);
    border-radius: 18px;
    padding: 70px 40px;
    position: relative;
}

.login-header{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 160px;
    height: 50px;
    border-radius: 0 0 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header span{
    font-size: 26px;
    font-weight: 600;
    color: #000;
}
.input-box{
    position: relative;
    margin: 28px 0;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 0 45px 0 20px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #fff;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -6px;
    font-size: 13px;
    background: #fff;
    color: #000;
    padding: 0 10px;
    border-radius: 20px;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
}

.remember-forgot label input{
    accent-color: #ff4d4d;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    color: #ff4d4d;
}
.btn{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: #fff;
    transition: .3s;
}

.btn:hover{
    background: #ff4d4d;
    color: #fff;
}

.register{
    margin-top: 22px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.register a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.register a:hover{
    color: #ff4d4d;
}
